.next
node_modules
dist
coverage
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vercel
.env*
!.env.example
.firebase-data
.firebase
private-content/
firebase-debug.log
firestore-debug.log
ui-debug.log
